@import './colors.scss';


.body-content {
  justify-content: center;
  flex-wrap: wrap;

  > h1 {
    flex: 0 0 100%;
    align-self: flex-end;
    text-align: center;
  }
}
.faq-menu {
  flex: 0 0 240px;
  margin: 15px;
  /*display: -webkit-box;display: -ms-flexbox;display: flex;
  flex-direction: column;
  justify-content: space-between;*/

  &__list {
    align-items: flex-start;
    margin: 0 0 30px 0;
    padding: 0;
    box-shadow: 0px 10px 40px 1px #cacace, 0px 5px 40px 1px #cacace;
    border-radius: 10px;
    overflow:hidden;

    &__list-item {
      list-style: none;
      line-height: 24px;
      width: calc(100% - 20px);
      height: 60px;
      background-color: $white;
      padding: 20px 10px;

      &:nth-child(even) {
      }

      &:hover {
        span.icon img {
          transform: rotateY(360deg);
          transition: transform 0.4s;
        }
      }


      span.icon {
        height:24px;
        width: 24px;
        margin: 0;
        float: left;

        img {
          height: 100%;
        }
      }

      a {
        text-decoration: none;
        font-size: 14px;
        float:left;
        margin: 0 0 0 10px;
        color: $deep-black;

        &:hover {
          cursor:pointer;
          color: $midnight-tint-2;
        }
      }

      p {
        clear: both;
        margin: 0 0 0 34px;
      }
    }
  }
}
.faq {
  flex: 1 1 calc(100% - 470px);

  display: -webkit-box;display: -ms-flexbox;display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0px 60px 10px 60px;
  margin:15px !important;
  background-color: $white;

  &__accordion {
    display: -webkit-box;display: -ms-flexbox;display: flex;
    flex-direction: column;
    position:relative;
    max-width: 800px;
    margin-bottom: 40px;

    > h1 {
      margin-top: 0px;
    }
    > p {
      margin-top: 0px;
      margin-bottom: 30px;
    }

    span.icon {
      position: absolute;
      top:5px;
      left: -40px;
      height: 26px;
      width: 26px;

      img {
        height: 100%;
      }
    }

    &__card {
      border: 1px solid $deep-black;
      border: none;
    }

    &__btn {
      height: 40px;
      margin: 10px 0 0;
      position:relative;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid $midnight-tint-2;
      border-radius: 0px;
      text-align: left;
      padding-left: 0px;
      padding-right: 0px;
      font-family: 'Roboto', Helvetica, sans-serif;
      font-size: 14px;
      color: $midnight-tint-2;

      &:active, &:focus {
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: none;
      }
      &:hover {
        cursor: pointer;
        background-color: transparent;
      }

      span.accordion-toggle__circle {
        float: right;
        content: '';
        position:relative;
        height: 22px;
        width: 22px;
        border-radius: 50px;
        border: 1px solid $midnight-tint-2;
      }

      span.accordion-toggle__plus.icon-bar{
        width: 12px;
        position: absolute;
        right: 5px;
        bottom: 9px;
        border-bottom: 1px solid $midnight-tint-2;
        transform: rotate(180deg);
      }
      span.accordion-toggle__minus.icon-bar{
        width: 12px;
        position: absolute;
        right: 5px;
        bottom: 9px;
        border-bottom: 1px solid $midnight-tint-2;
      }
    }

    &__btn.collapsed {
      span.accordion-toggle__plus.icon-bar{
        width: 12px;
        position: absolute;
        right: 5px;
        bottom: 9px;
        border-bottom: 1px solid $midnight-tint-2;
        transform: rotate(90deg);
      }
    }
  }
}
.fade-enter-active {
  transition-property: opacity;
  transition-duration: .5s;
  transition-delay: .05s;
}
.fade-enter {
  opacity: 0
}
