@import './colors.scss';

/*----- DEFAULTS -----*/
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
/*headers*/
h1, h2, h3, h6 { font-weight: lighter;}
h1 {font-size: 28px; line-height:40px; }
h1.font-size--large {font-size: 40px;}
h2 {font-size: 24px; line-height:36px; }
h3 {font-size: 20px; line-height: 27px; }
h4 {font-size: 16px; line-height: 20px; }
/*body text*/
p {font-size: 16px; line-height: 28px; }
p.font-size--small {font-size: 14px; line-height:24px; }
p.font-size--xsmall {font-size: 12px; line-height:14px; }
/*captions & labels*/
caption {font-size:12px; line-height: 19px; font-style: italic; }
label {font-size: 14px; line-height: 19px; }
label.font-size--small {font-size: 12px; line-height: 16px; }
/*marginals (header/footer shared styles)*/
.marginals {font-size: 14px; line-height: 19px; letter-spacing: 0.5px; text-transform: uppercase; margin-bottom: 14px;
  &__social {font-size: 14px; line-height: 22px; margin-bottom: 4px;}
}
/*body content (non-footer/non-header)*/
.body-content {padding: 0; margin: 0; width:100%;} //display: -webkit-box; display: -ms-flexbox;display: flex;
section {
  margin: 20px 0;
  padding: 0;
}
/*buttons*/
button { font-family: 'Roboto Medium', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.5px;
  transition: 0.3s all;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}
/*----- end DEFAULTS -----*/

/*----- ELEMENTS -----*/
/*----- end ELEMENTS -----*/


/*----- CLASSES -----*/
.uppercase {
  text-transform: uppercase;
}

/*buttons*/
.btn{
  &-yellow {
    border: 1px solid $yellow;
    color: $white;
    padding: 10px 20px;
    background-color: $yellow;

    &:hover {
      color: $yellow;
      background-color: $white;
      border-color: $yellow;
    }
  }

  &-purple {
    border: 1px solid $bright-purple;
    color: $white;
    padding: 10px 20px;
    background-color: $bright-purple;

    &:hover {
      color: $purple;
      background-color: $white;
    }
  }
}

/*background colors*/
.bkg-color {
  &--black {background-color: $deep-black;}
  &--purple {background-color: $purple;}
  &--bright-purple {background-color: $bright-purple;}
  &--lighter-purple {background-color: $light-purple;}
  &--dark-purple {background-color: $midnight-tint-2;}
  &--white {background-color: $white;}
  &--grey {background-color: $classic-grey;}
  &--lighter-grey {background-color: $lighter-grey;}
  &--dark-blue-gradient {
    background: rgb(7,24,39); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(7,24,39,1) 0%, rgba(8,33,53,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(7,24,39,1) 0%,rgba(8,33,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(7,24,39,1) 0%,rgba(8,33,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#071827', endColorstr='#082135',GradientType=0 ); /* IE6-9 */}
  }
/*content container*/
.content-container {
  width: 100%;
  margin-left:auto;
  margin-right: auto;
  padding: 80px 40px;

  &--small { max-width: 600px; }
  &--medium { max-width: 900px; }
  &--large { max-width: 1200px; }
}
/*cd-word-wrapper*/
h1.cd-headline.clip {
  line-height: 90px;
}
/*text styles*/
.text-color {
  &--black {color: $deep-black;}
  &--white {color: $white; a { color: $white;}}
  &--purple {color: $purple;}
  &--dark-purple {color: $midnight-tint-2;}
  &--light-purple {color: $purple; opacity:0.55}
  &--blue {color: $matryx-blue;}
  &--red {color: $matryx-red;}
  &--grey {color: $classic-grey;}
  &--matryx-grey {color: $matryx-grey;}
}
.text {
  &--center {
    text-align: center;
  }
  &--inline {
    display:inline;
  }
  &--bold {
    font-weight: bold;
  }
}
/*icon bar*/
.icon-bar {
  display: block;
  height: 0px;
  width: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: all 0.2s;
}
/*jumbotron*/
.jumbotron{
  width: 100%;

  .container {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    color: $white;
  }
  .display-3 {
    font-size: 2.5rem;
  }
}
/*logo*/
.logo {
  &--small {
    height: 50px;
  }
  &--medium {
    height:100px;
  }
}

/*social*/
.social-icon {
  height: 40px;
  width: 40px;

  a {
    height: 100%;

    &:hover {
      cursor: pointer;
    }

    img {
      height: 100%;
    }
  }
}

/* members */
.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 140px;
  height: 195px;
  margin: 25px 32px;
}

.member__img {
  max-height: 120px;
  max-width: 120px;
  border-radius: 100%;
  margin-bottom: 7.5px;
}
/*----- end CLASSES -----*/

/* ID's */
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* end ID's */
