/*----- FONT COLORS -----*/
/*neutrals*/
/*purples/grays*/
/*blues*/
/*reds*/
/*----- end FONT COLORS -----*/
/*----- DEFAULTS -----*/
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: #EBEBEC !important;
}

/*headers*/
h1, h2, h3 {
  font-weight: lighter;
}

h1 {
  font-size: 28px;
  line-height: 40px;
}

h1.font-size--large {
  font-size: 40px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

h3 {
  font-size: 20px;
  line-height: 27px;
}

/*body text*/
p {
  font-size: 16px;
  line-height: 28px;
}

p.font-size--small {
  font-size: 14px;
  line-height: 24px;
}

/*captions & labels*/
caption {
  font-size: 14px;
  line-height: 19px;
  font-style: italic;
}

label {
  font-size: 14px;
  line-height: 19px;
}

label.font-size--small {
  font-size: 12px;
  line-height: 16px;
}

/*marginals (header/footer shared styles)*/
.marginals {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.marginals__social {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 4px;
}

/*body content (non-footer/non-header)*/
.body-content {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*buttons*/
button {
  font-family: 'Roboto Medium';
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.5px;
}

/*----- end DEFAULTS -----*/
/*----- CLASSES -----*/
/*background colors*/
.bkg-color--black {
  background-color: #000;
}

.bkg-color--dark-purple {
  background-color: #696985;
}

.bkg-color--white {
  background-color: #F8F8FA;
}

/*content container*/
.content-container {
  width: 100%;
  margin: auto;
}

.content-container--small {
  max-width: 600px;
}

.content-container--medium {
  max-width: 900px;
}

.content-container--large {
  max-width: 1200px;
}

/*text colors*/
.text-color--black {
  color: #000;
}

.text-color--white {
  color: #FFF;
}

.text-color--dark-purple {
  color: #696985;
}

.text-color--light-purple {
  color: #A5B2FF;
}

.text-color--blue {
  color: #4C68FF;
}

.text-color--red {
  color: #FF5C63;
}

/*----- end CLASSES -----*/
