/*----- FONT COLORS -----*/
/*neutrals*/
/*purples/greys*/
/*blues*/
/*reds*/
/*yellows*/
/*green*/
/*----- end FONT COLORS -----*/
/*----- DEFAULTS -----*/
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

/*headers*/
h1, h2, h3, h6 {
  font-weight: lighter;
}

h1 {
  font-size: 28px;
  line-height: 40px;
}

h1.font-size--large {
  font-size: 40px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

h3 {
  font-size: 20px;
  line-height: 27px;
}

h4 {
  font-size: 16px;
  line-height: 20px;
}

/*body text*/
p {
  font-size: 16px;
  line-height: 28px;
}

p.font-size--small {
  font-size: 14px;
  line-height: 24px;
}

p.font-size--xsmall {
  font-size: 12px;
  line-height: 14px;
}

/*captions & labels*/
caption {
  font-size: 12px;
  line-height: 19px;
  font-style: italic;
}

label {
  font-size: 14px;
  line-height: 19px;
}

label.font-size--small {
  font-size: 12px;
  line-height: 16px;
}

/*marginals (header/footer shared styles)*/
.marginals {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.marginals__social {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 4px;
}

/*body content (non-footer/non-header)*/
.body-content {
  padding: 0;
  margin: 0;
  width: 100%;
}

section {
  margin: 20px 0;
  padding: 0;
}

/*buttons*/
button {
  font-family: 'Roboto Medium', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.5px;
  transition: 0.3s all;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

/*----- end DEFAULTS -----*/
/*----- ELEMENTS -----*/
/*----- end ELEMENTS -----*/
/*----- CLASSES -----*/
/*buttons*/
.btn-yellow {
  border: 1px solid #EF8A11;
  color: #FFF;
  padding: 10px 20px;
  background-color: #EF8A11;
}

.btn-yellow:hover {
  color: #EF8A11;
  background-color: #FFF;
  border-color: #EF8A11;
}

.btn-purple {
  border: 1px solid #6B3FD6;
  color: #FFF;
  padding: 10px 20px;
  background-color: #6B3FD6;
}

.btn-purple:hover {
  color: #423176;
  background-color: #FFF;
}

/*background colors*/
.bkg-color--black {
  background-color: #000;
}

.bkg-color--purple {
  background-color: #423176;
}

.bkg-color--bright-purple {
  background-color: #6B3FD6;
}

.bkg-color--lighter-purple {
  background-color: #645788;
}

.bkg-color--dark-purple {
  background-color: #696985;
}

.bkg-color--white {
  background-color: #F8F8FA;
}

.bkg-color--grey {
  background-color: #80828D;
}

/*content container*/
.content-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 80px;
}

.content-container--small {
  max-width: 600px;
}

.content-container--medium {
  max-width: 900px;
}

.content-container--large {
  max-width: 1200px;
}

/*cd-word-wrapper*/
h1.cd-headline.clip {
  line-height: 90px;
}

/*text styles*/
.text-color--black {
  color: #000;
}

.text-color--white {
  color: #FFF;
}

.text-color--white a {
  color: #FFF;
}

.text-color--purple {
  color: #423176;
}

.text-color--dark-purple {
  color: #696985;
}

.text-color--light-purple {
  color: #423176;
  opacity: 0.55;
}

.text-color--blue {
  color: #4C68FF;
}

.text-color--red {
  color: #FF5C63;
}

.text-color--grey {
  color: #80828D;
}

.text--center {
  text-align: center;
}

.text--inline {
  display: inline;
}

.text--bold {
  font-weight: bold;
}

/*icon bar*/
.icon-bar {
  display: block;
  height: 0px;
  width: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: all 0.2s;
}

/*jumbotron*/
.jumbotron {
  width: 100%;
}

.jumbotron .container {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: #FFF;
}

.jumbotron .display-3 {
  font-size: 2.5rem;
}

/*logo*/
.logo--small {
  height: 50px;
}

.logo--medium {
  height: 100px;
}

/*social*/
.social-icon {
  height: 40px;
  width: 40px;
}

.social-icon a {
  height: 100%;
}

.social-icon a:hover {
  cursor: pointer;
}

.social-icon a img {
  height: 100%;
}

/*navbar*/
.navbar.navbar-light {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  background-color: #645788;
}

.navbar.navbar-light .navbar-brand {
  height: 50px;
}

.navbar.navbar-light .navbar-brand img {
  height: 100%;
}

.navbar.navbar-light .navbar-nav.nav-link a {
  color: #FFF;
}

/* members */
.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 140px;
  height: 195px;
  margin: 25px 32px;
}

.member__img {
  max-height: 120px;
  max-width: 120px;
  border-radius: 100%;
  margin-bottom: 7.5px;
}

/*----- end CLASSES -----*/
/* ID's */
#app {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* end ID's */
