

<!-- what is matryx and nanome
token distribution
general
troubleshooting
presale participants
tokensale participation
how to participate
wallets to use and how -->


  <div class="body-content">
    <aside class="faq-menu">
      <ul class="faq-menu__list">
        <li class="faq-menu__list__list-item"><a href="faq-section-1"></a>1</li>
        <li class="faq-menu__list__list-item"><a href="faq-section-2"></a>2</li>
        <!-- <li class="faq-menu__list__list-item"><a href="faq-section-3"></a>3</li>
        <li class="faq-menu__list__list-item"><a href="faq-section-4"></a>4</li>
        <li class="faq-menu__list__list-item"><a href="faq-section-5"></a>5</li>
        <li class="faq-menu__list__list-item"><a href="faq-section-6"></a>6</li>
        <li class="faq-menu__list__list-item"><a href="faq-section-7"></a>7</li>
        <li class="faq-menu__list__list-item"><a href="faq-section-8"></a>8</li>
        <li class="faq-menu__list__list-item"><a href="faq-section-9"></a>9</li>
        <li class="faq-menu__list__list-item"><a href="faq-section-10"></a>10</li> -->
      </ul>
    </aside>
    <section class="faq">
      <div id="help1" class="faq-accordion">
        <h1>FAQ Section 1</h1>
        <b-btn block v-b-toggle.help1-accordion-1></b-btn>
        <b-collapse id="help1-accordion-1" accordion="help1-accordion">
          <b-card>
            Information here
          </b-card>
        </b-collapse>
        <b-btn block v-b-toggle.help1-accordion-2></b-btn>
        <b-collapse id="help1-accordion-2" accordion="help1-accordion">
          <b-card>
            Information here
          </b-card>
        </b-collapse>
      </div>
      <div id="help2" class="faq-accordion">
        <h1>FAQ Section 2</h1>
        <b-btn block v-b-toggle.faq-accordion-2></b-btn>
        <b-collapse id="faq-1-accordion-2" accordion="faq-1-accordion">
          <b-card>
            Information here
          </b-card>
        </b-collapse>
      </div>
    </section>
  </div>





<!-- Add this after vue.js -->
